:root {
  /*PRIIMARY COLORS*/
  --box-color-1: hsl(31, 77%, 52%);
  --box-color-2: hsl(184, 100%, 22%);
  --box-color-3: hsl(179, 100%, 13%);

  /*NEUTRAL COLORS*/
  --p-color: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--very-light-gray);
}

.container {
  margin: 4rem 1.2rem;
}

.box {
  display: grid;
  width: 100%;

  text-align: left;
}

.content img,
p {
  margin: 1.5rem 0;
}

.content h2,
h1 {
  font: 700 2.5rem "Big Shoulders Display", sans-serif;
  color: var(--very-light-gray);
}

.content p {
  font: 400 1rem "Lexend Deca", sans-serif;
  color: var(--p-color);
  padding-right: 1rem;
  max-height: 100%;
}

.cont-1 {
  background: var(--box-color-1);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 2rem;
}

.cont-2 {
  background: var(--box-color-2);
  padding: 2rem;
}

.cont-3 {
  background: var(--box-color-3);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem;
}

.btn {
  background: var(--very-light-gray);

  padding: 1rem 2rem;
  border-radius: 2rem 2rem;
  border: none;

  font: 400 0.9rem "Lexend Deca", sans-serif;

  cursor: pointer;
}

.btn-1:hover {
  background: var(--box-color-1);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  border-radius: 2rem 2rem;
  transition: 0.3s;
}

.btn-2:hover {
  background: var(--box-color-2);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  border-radius: 2rem 2rem;
  transition: 0.3s;
}

.btn-3:hover {
  background: var(--box-color-3);
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  border-radius: 2rem 2rem;
  transition: 0.3s;
}

.btn-1 {
  color: var(--box-color-1);
}

.btn-2 {
  color: var(--box-color-2);
}

.btn-3 {
  color: var(--box-color-3);
}

/*=======footer=======================*/
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*medium-devices*/
@media (min-width: 500px) {
  .container {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
  }

  .attribution {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translatex(-50%);
  }
}

/*large-devices*/
@media (min-width: 700px) {
  .container {
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 710px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }

  .box p {
    margin-bottom: 6rem;
  }
  .cont-1 {
    min-height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .cont-2 {
    min-height: 100%;
    border-radius: 0 0 0 0;
  }

  .cont-3 {
    min-height: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .attribution {
    top: 90%;
  }
}
/*Large-devices*/
@media (min-width: 800px) {
  .container {
    max-width: 900px;
  }
}
/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/
